:root {
    --color-1: #ffffff;
    --color-2: #f7cc5c;
    --color-3: #8a8f98;
    --color-4: #000000;
    --background-color: #000000;
    --background-color-2: #2c2c30;
    --background-color-3: #ffffff;
  }  