@import url('./Colours.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;800;900&display=swap');

body {
  background-color: var(--background-color);
}


h1 {
  font-family: 'Inter';
  font-style: normal;
  font-size: 50px;
  font-weight: 800;
  font-display: swap;
  color: var(--color-1)
}

h2 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 34px;
  color: var(--color-1)
}

h3 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: var(--color-1)
}

p {
  font-family: 'Inter';
  font-size: 24px;
  color: var(--color-1);
  font-size: 16px;
}

li {
  margin: 1;
  font-family: 'Inter';
  color: var(--color-3);
  height: 30px;
}

a {
  font-family: 'Inter';
  color: var(--color-2)
}